//- project config 

-
	var config = {
		lang: 'en',
		title: 'Graphic editor',
		description: 'Canvas based javascript graphic editor',
		color: '#ffffff',
		page: {
			title: '',
			description: '',
		},
		twitter: {
			creator: '@kikeldmitry',
			site: '@kikeldmitry',
		},
	};

include mixins.pug